html,
body {
    height: 100%;
}

.auth-screen {
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0) fixed;
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0) fixed;
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0) fixed;
    background: linear-gradient(-135deg, #c850c0, #4158d0) fixed;
}

.user-avatar {
    opacity: 80%;
}

.btn-img {
    opacity: 70%;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

#board {
    background-color: #f9f9f9;
    border: 1px solid #f1f1f1;
    box-shadow: 4px 4px 6px #484848;
}

#gameCard {
    background-image: url('/img/Free_Wood_Texture_10.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.message-box-holder {
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.message-box {
    padding: 6px 10px;
    border-radius: 6px 0 6px 0;
    position: relative;
    background: rgba(100, 170, 0, .1);
    border: 2px solid rgba(100, 170, 0, .1);
    color: #6c6c6c;
    font-size: 12px;
}


.message-box-init {
    opacity: 30%;
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.message-partner {
    background: rgba(0, 114, 135, .1);
    border: 2px solid rgba(0, 114, 135, .1);
    align-self: flex-start;
}